a {
    text-decoration: none;
    color: pink;
}

nav {
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

div {
    padding: 10px;
}

form {
    padding: 10px;
}